.my-reservations-page-container {
    background-color: var(--background);
    margin-top: 2rem;
}

.my-reservations-page-container .container-fluid {
    width: 50%!important;
    margin-top: 100px;
}

.my-reservations-page-container .page-title {
    color: var(--text);
}

.my-reservations-page-container .card-header {
    color: "#7fe6ef";
    background-color: "#213d4e";
}

.my-reservations-page-container .card-body {
    background-color: var(--accent1);
}

.my-reservations-page-container .card-header {
    color: var(--alt_text)!important;
    background-color: var(--alt_background)!important;
}

.my-reservations-page-container .nexus-submit {
    background-color: var(--accent2)!important;
    color: var(--text)!important;
    border: none!important;
}

.my-reservations-page-container .badge-dark {
    background-color: var(--alt_background)!important;
}

.my-reservations-page-container .no-reservations-container h3 {
    color: white;
}

.my-reservations-page-container .no-reservations-container h5 {
    color: white;
}

@media screen and (max-width: 768px) {
    .my-reservations-page-container .container-fluid {
        width: 80%!important; /* Adjusted width for medium screens */
    }

    .my-reservations-page-container .container-fluid {
        margin-top: 50px; /* Adjusted margin-top for medium screens */
    }
}

@media screen and (max-width: 480px) {
    .my-reservations-page-container .container-fluid {
        width: 90%!important; /* Adjusted width for smaller screens */
    }

    .my-reservations-page-container .container-fluid {
        margin-top: 30px; /* Adjusted margin-top for smaller screens */
    }
}