.export button {
  margin-top: 10px; /* Add margin between input and button */
  margin-left: 5px;
  padding: 10px 20px;
  background-color: var(--alt_text);
  color: var(--accent2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.export button:hover {
  background-color: var(--accent1); /* Darker blue on hover */
  color: var(--text)
}

.export {
  display: flex;
  flex-direction: column;
  height: 50px; 
}

.financials-page {
  width: fit-content;
  height: auto;
}

.financials-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.financial-form-row {
  display: flex;
  justify-content: space-between;
}

.financials-download-button {
  margin-top: 20px;
}

.financials-page-container {
  display: flex;
  justify-content: center;
}