.export button {
  margin-top: 10px; /* Add margin between input and button */
  margin-left: 5px;
  padding: 10px 20px;
  background-color: var(--alt_text);
  color: var(--accent2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.export button:hover {
  background-color: var(--accent1); /* Darker blue on hover */
  color: var(--text)
}

.export {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px; 
}
