.register-container {
    text-align: center;
}

.register-container .register-inputs .user-email {
    margin-top: 1rem;
}

.register-container .register-inputs .user-password {
    margin-top: 1rem;
}

.register-container .register-inputs .user-phone {
    margin-top: 1rem;
}

.register-container .register-btn {
    margin-top: 1rem;
    width: 100%;
}