.react-calendar {
    width: 100%; /* Set the calendar width to 100% */
    max-width: 450px; /* Set the maximum width to 450px */
    background: var(--alt_background);
    border: 1px solid var(--accent1);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    border-radius: 8px;
}

/* Adjustments for double view */
.react-calendar--doubleView {
    max-width: 700px; /* Adjusted maximum width for double view */
}

/* Adjustments for double view */
.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

/* Adjustments for double view */
.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}

/* Reset box-sizing for calendar and its children */
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Reset button styles */
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

/* Enable pointer cursor on hover for enabled buttons */
.react-calendar button:enabled:hover {
    cursor: pointer;
}

/* Navigation styling */
.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}

/* Navigation button styles */
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

/* Disabled navigation button styles */
.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}

/* Enabled navigation button hover/focus styles */
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: var(-accent2);
}

/* Weekdays styling */
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
}

/* Individual weekday styling */
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    color: var(--accent1);
}

/* Week numbers styling */
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
}

/* Weekend day styling */
.react-calendar__month-view__days__day--weekend {
    color: var(--text);
}

/* Neighboring month day styling */
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
    color: var(--alt_text);
    background-color: var(--accent2);
}

/* Tile padding adjustment */
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

/* Tile common styling */
.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
}

/* Disabled tile styling */
.react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #ababab;
}

/* Disabled neighboring month tile styling */
.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
}

/* Enabled tile hover/focus styling */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: var(--accent1);
}

/* Current day tile styling */
.react-calendar__tile--now {
    background: var(--accent1);
}

/* Current day tile enabled hover/focus styling */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: var(--accent1);
}

/* Active tile styling */
.react-calendar__tile--hasActive,
.react-calendar__tile--active {
    background: var(--accent2);
}

/* Active tile enabled hover/focus styling */
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: var(--accent2);
}

/* Range selection styling */
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: var(--accent1);
}
