.selection-containers {
  display: flex;
}

.amenity-container {
  margin-left: 15px;
}

.reservation-page-container {
  display: flex;
  justify-content: center;
}

.reservation-page {

    background-color: var(--background);
    height: 100vh;
    width: 60%;
  }
  
  h1 {
    margin-bottom: 20px;
    margin-top: 0;
    color: var(--text);
  }

  h3{
    color: var(--text);
  }
  
  select {
    padding: 5px;
    padding-right: 5px;
    background-color: var(--accent1);
    border-color: var(--accent2);
    color: var(--text);
    border-radius: 8px;
    width: 200px;
  }

.calendar-container{
    margin-top: 20px;
    margin-right: 20px;
}
  
  .calendar {
    margin-bottom: 20px;
    /* Add styles for the calendar component */
  }
  
  .times {
    margin-bottom: 20px;
    width: 30%;
  }

  /* In your CSS file, such as styles.css */
  .time-radio{
    color: var(--text);
    margin-right: 10px;
  }
  
  button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: var(--accent1);
    color: var(--text);
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: var(--accent2);
  }

  .thisContainer{
    display: flex;
    flex-direction: row;
  }
  
  .timeDisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  